body {
    background: #aaa;
    text-align: center;
}

.imagens {
    width: 30%;
    border: solid 2px;
}

.linha {
    text-decoration: underline;
}

.conteudo{
    border: solid 1px;
    background: gainsboro;
}

.titulo{
    border: solid 2px;
    background: #88b;
}

h1 {
    color: whitesmoke;
    font: bold;
    font-size: 50px;
    text-decoration: underline;
    
}

h2 {
    color: gray;
    font-size: 40px;
}

p {
    font-size: 20px;
}

#imagem {
    width: 500px;
    border: solid 2px;
}

