* {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    width: 80%;
    margin: 0 auto;
    
    
}

#cabecalho{
    width: 80%;
    margin: 10px auto;
    min-width: 1280px;
}

#logo-cabecalho {
    color: white;
    padding: 5em;
    line-height: 2.1em;
    background: rgb(89, 89, 233);
}

#menu-cabecalho {
    background: rgb(178, 177, 255);
}

h1{
    text-align: center;
    
}


li{
    display: inline-flex;
    margin: 0;
    
}

li a {
    padding: 10px 50px;
    background: rgb(231, 67, 67);
    color: white;
    text-decoration: none;
}

fieldset{
    margin: 20px auto;
    width: 70%;
    padding: 15px;
    min-width: 300px;
}

legend{
    padding: 5px;
}


label:hover{
    cursor: pointer;
}


#formulario label, #formulario select{
    margin: 5px auto;
    
}