body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.background-topo {
    background: black;
    border-bottom: 2px solid gainsboro;
}

.topo{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
}

.topo a{
    color: white;
}

.logo a{
    font-size: 1.5em;
    padding: 15px 20px;
}

.topo a:hover{
    background: white;
    color: black;
}

.contato{
    display: flex;
    flex-wrap: wrap;
}

.contato a{
    font-size: 1.1em;
    padding: 15px 20px;
}

/*java*/

.javascript {
    max-width: 960px;
    margin: 10px auto;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.javascript h2,
.javascript img,
.javascript button{
    margin: 10px;
}

